@font-face {
  font-family: Gilroy-Medium;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy-Light;
  src: url(https://unpkg.com/aks-fonts@1.0.0/Gilroy/Gilroy-Light.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(9, 7, 50);
  background: linear-gradient(90deg, rgba(9, 7, 50, 1) 0%, rgb(19, 37, 85) 50%, rgba(9, 7, 50, 1) 100%);
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.wrapper {

  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  background: center center / cover rgba(244, 247, 254, 0.2);
  filter: none;
  backdrop-filter: blur(20px);
}


.header .row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 3%;
  padding-left: 3%;
}

.header .row .wrap {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
}

.header .row .wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: Gilroy-Bold;
  text-decoration: none;
  margin-right: 50px;
}

.logo .logo-first {
  transition: all 0.3s ease;
  color: #e3e9f0;
}

.logo .logo-last {
  transition: all 0.5s ease;
  color: rgb(177, 36, 36);
}

.header .row .wrap .menu-list {
  display: flex;
  align-items: center;
  line-height: normal;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.header .row .wrap .menu-list .menu-item {
  display: flex;
  align-items: center;
  margin-right: 40px;
  font-weight: 500;
  font-family: Gilroy-Bold;
}

.header .row .wrap .menu-list .menu-item .link {
  color: #e3e9f0;
  text-decoration: none;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
}

.container {
  display: flex;
  max-width: 1250px;
  height: auto;
  gap: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.container .card {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  width: 22%;
  height: 550px;
  overflow: hidden;
  transition: 0.5s ease all;
  background: #e3e9f0;
  border-radius: 12px;
  box-shadow: 0px 0px 112px -20px rgb(255, 25, 195), 0 -10px 26px 0px rgb(0, 220, 255);

}

.container .card .card-link {

  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  text-decoration: none;
font-size: 14px;
}

.container .card .card-link h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  margin: 0;
}

.container .card:hover {
  transform: translateY(-10px);
}

.container .card .card-title {
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.box {
  width: 100%;
  height: 50px;
}

.main {
  width: 100%;
  height: auto;
  margin-top: 50px;
  font-family: Gilroy-Bold;
  color: rgb(255, 255, 255);
}

.main .bg-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(https://www.wallpaperflare.com/static/854/718/575/star-wars-storm-troopers-rogue-one-a-star-wars-story-digital-art-wallpaper.jpg);
}

.main .bg-section::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #000000, transparent);
  backdrop-filter: blur(3px);
}

.main .bg-section .row {
  width: 80%;
  height: 100%;
  display: flex;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  gap: 40px;
}

.main .bg-section .row .card {
  width: 20%;
  height: 100%;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  overflow: hidden;
  transition: 0.5s ease all;
}

.main .bg-section .row .card:hover {
  transform: translateY(-10px);
}

.main .bg-section .row .card img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.main .bg-section .row .content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.main .bg-section .row .content .title {
  display: flex;
  width: 100%;
}

.main .bg-section .row .content .title h1 {
  margin-right: 10px;
}

.main .bg-section .row .content .facts {
  display: flex;
  width: 100%;
  margin: 0;
}

.main .bg-section .row .content .facts h4 {
  margin-right: 10px;
}

.slider-card {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  width: 250px;
  height: 400px;
  overflow: hidden;
  transition: 0.5s ease all;
  background: #e3e9f0;
  border-radius: 12px;
  border:0 ;
}

.auth-container {
  display: flex;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 100%;
  height: 100vh;
  min-width: 350px;
}

.auth-container .auth-form {
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.auth-container .auth-form .auth-form-inner {
  max-width: 440px;
  width: 100%;
}

.auth-container .auth-form .auth-form-inner .auth-text {
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-weight: 600;
  color: #A3AED0;
}

.auth-container .auth-form .auth-form-inner h1 {
  font-family: Gilroy-Medium;
  color: #2B3674;
  margin-bottom: 20px;
  margin-top: 0;
}

.auth-container .auth-form .auth-form-inner .btn-google {
  color: #2B3674;
  border: solid 1px #eee;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px #00000020;
  width: 100%;
  height: 50px;
  border-radius: 18px;
  font-family: Gilroy-Bold;
  background: #F4F7FE;
  transition: 0.4s ease;
}
.auth-container .auth-form .auth-form-inner .btn-google:hover{
  background:#f1f4fc;
}

.auth-container .auth-form .auth-form-inner .btn-google svg {
  margin-right: 5px;
}

.auth-container .auth-form .auth-form-inner .auth-form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.auth-container .auth-form .auth-form-inner .auth-form-group label {
  font-size: 16px;
  font-weight: 500;
  color: #0064FF;
  margin-bottom: 10px;
  font-weight: 800;
font-family: 'Gilroy-Medium';
}

.auth-container .auth-form .auth-form-inner .auth-form-group input {
  height: 50px;
  border: 0.1rem solid #dfe2e6;
  color: #2B3674;
  box-shadow: none;
  width: 100%;
  padding: 6px 12px;
  background: white;
  border-radius: 18px;
  transition: 0.5s ease;
  position: relative;
  text-align: left;
  font-family: Gilroy-Light;
  font-weight: 600;
  outline: none;
}

.auth-container .auth-form .auth-form-inner .auth-form-group input:hover {
  border: 0.1rem solid #6f63ff;
  outline: #2B3674;
}

.line-breaker .line {
  width: 50%;
  height: 2px;
  background: #e5e9f5;
  ;
}

.line-breaker {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A3AED0;
  ;
  width: 100%;
  margin: 1.5rem 0;
  font-family: Gilroy-Bold;
  font-size: 1.1rem;
}

.line-breaker span:nth-child(2) {
  margin: 0 2rem;
}

.auth-container .auth-form .auth-form-inner .auth-form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

.auth-container .auth-form .auth-form-inner .auth-reset {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0064ff;
  font-weight: 800;
  font-family: 'Gilroy-Medium';
  transition: all 200ms ease;
}

.auth-container .auth-form .auth-form-inner .auth-btn {
  width: 100%;
  height: 50px;
  background: #0064FF;
  border: none;
  border-radius: 18px;
  outline: none;
  position: relative;
  color: white;
  font-weight: 800;
  font-family: 'Gilroy-Medium';
  font-size: 15px;
  letter-spacing: 1px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px 0 15px 0;
  transition: 0.4s ease;
}
.auth-btn:hover {
  transform: scale(0.97);
  background: #267bfa;
}
.auth-container .auth-form .auth-form-inner .auth-bottom{
  display: flex;
  text-decoration: none;
  color: #2d323c;
  font-weight: 800;
  font-family: 'Gilroy-Medium';
  transition: all 200ms ease;
  text-align: center;
  line-height: normal;
  margin: 15px 0 0 0;
}
.auth-container .auth-form .auth-form-inner .auth-bottom a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0064FF;
  font-weight: 800;
  font-family: 'Gilroy-Medium';
  margin-left: 5px;
}
.auth-container .auth-side {
  flex: 1;
  background: blue;
  width: 50%;
  border-radius: 0 0 0 200px ;
}
.error{
  font-family: Gilroy-Bold;
  margin-top: 5px;
  font-size: 16px;
  color: red;

}
.next a{
  text-align: center;
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 600px) {
  .auth-container{
    width: 100%;
    flex-direction: column;
  }
  .auth-form{
    width: 100%;
  }
  .side{
    width: 100%;
    border-radius: 0;
  }
}